* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
body {
  background-color: #4737ff;
  margin: 0px 0px 0px 80px;
}
header {
 height: 60vh;
}

.hero {
  margin: 15% 0;
}
.hero-text {
  font-size: 64px;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 20px;
  word-spacing: 2px;
}
.hero-description {
  font-size: 16px;
  font-weight: 400;
  width: 60%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 60px;
  line-height: 160%;
}
.shooting-stars {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 6px;
}

/* ---------------BUTTONS--------------- */
.btn{
  display: inline-block;
  padding: 20px 40px;
  font-weight: 600;
  font-size:12px ;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
}
.btn-full {
  background-color: #fff;
  color: #4737ff;
  border: 1px solid #fff;
  margin-right: 15px;
}
.btn-full:hover,
.btn-full:active{
 background-color: #e0e0e8;
 border: 1px solid #4737ff;
}
.btn-ghost {
  border: 1px solid #fff;
}
.btn-ghost:hover,
.btn-ghost:active{
 background-color: #fff;
 border: 1px solid #fff;
 color: #5a4dff;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 60px 0px;
}

.logo p {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
}

.menu ul {
  display: flex;
  margin-right:80px ;
}

.menu li {
  list-style: none;
  margin: 0 13px;
}

.menu-item a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 300;
}

.menu-item a:hover,
.menu-item a:active {
  color: rgb(255, 255, 255);
}

.media {
 position: relative;
}
.image{
 width:600px;
 height:616px;
 overflow: hidden;
}
.playbutton{
 position: absolute;
 top: 0px;
}

.social-media {
 display: flex;
}

.social-media svg {
 margin:0 10px;
}

footer{
 margin: 40px 0;
}